
.read-the-docs {
  color: #555; 
}

.year {
  font-weight: bold;
  color: #1d6fa5; 
  margin-right: 10px;
}

.timeline-item .content {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #aaa; 
  position: relative;
}
